.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
    background-color: map-get($theme-colors, primary-color);
    color: #f0f0f0;

    body.light-mode & {
        color: map-get($theme-colors, light-text-color);
    }
}

.btn.primary-btn {
    margin-top: 30px;
}
.btn:hover {
    background-color: map-get($theme-colors, secondary-color);
}