* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    // overflow-y: scroll; /* Ensures scrollbar is always present to prevent layout shift */
}

body {
    font-family: $font-heebo;
    line-height: 1.6;
    transition: background-color 0.4s ease, color 0.4s ease;
    
    // Using SCSS variables with CSS custom properties
    background-color: map-get($theme-colors, background-color);
    color: map-get($theme-colors, text-color);

    &.light-mode {
        background-color: map-get($theme-colors, light-background-color);
        color: map-get($theme-colors, light-text-color);
    }
}

// For no-scroll effect - to be added to body in JS
body.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}